<a id='TOC'></a>

# Project: Investigate Airbnb dataset of Boston and Seattle. 

## Table of Contents
<ul>
<li><a href="#intro">Introduction</a></li>
<li><a href="#business_understanding">Business Understanding</a></li>
<li><a href="#data_understanding">Data Understanding</a></li>
<li><a href="#data_preparation">Data Preparation</a></li>
<li><a href="#modeling">Modeling</a></li>    
<li><a href="#results_evaluation">Results Evaluation</a></li>
<li><a href="#deploy_solution">Deployment</a></li>
<li><a href="#conclusions">Conclusions</a></li>
</ul>

<a id='intro'></a>
## Introduction

Airbnb is a publicly listed company with focus on Lodging industry. It is headquartered in San Francisco but has presence in multiple countries. 
<br>
It works in online marketplace for rental activities.
<br><br>
Dataset includes 2 cities; Boston and Seattle. Files for each city contain 3 csv (comma separated variable) files containing rental availability calendar, available listings and reviews.
<br><br>
Objective is to discover actionable insight from the available data so that stakeholders can use that information and strategize business decisions.

<li><a href="#TOC">Back To Table Of Contents</a></li>

Import general packages and graphing capabilities which will be used in all datasets.

In [1]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import seaborn as sklearn

<a id='business_understanding'></a>
## Business Understanding

Business model of Airbnb is based on revenue earning through comission for providing rental listings to end users. people willing to rent put up the listing/s on Airbnb website and customers book it through Airbnb. 
<br><br>
Based on the data available objective of this analysis is going to be to discover factors behind several situations; e.g. which neighborhoods are always overbooked? what exactly causes that? is it because of the surrounding area or the rental facilities are very good? knowledge about these things can tell Airbnb how they can approach the situation. Maybe the listings are not very good, or the service provided is not upto the mark. whatever the reason understanding what are the environmental factors is the first step towards the improvement.

<li><a href="#TOC">Back To Table Of Contents</a></li>

<a id='data_understanding'></a>
## Data Understanding

Amongst many Objectives of this stage prime one is to get familiar with the data. The familiarity has potential to discovering features of interest for mining activities.

Import the data

In [2]:
df_boston_calendar = pd.read_csv('Boston-calendar.csv')  
df_boston_listings =  pd.read_csv('Boston-listings.csv')
df_boston_reviews = pd.read_csv('Boston-reviews.csv')
df_seattle_calendar = pd.read_csv('Seattle-calendar.csv')
df_seattle_listings = pd.read_csv('Seattle-listings.csv')
df_seattle_reviews = pd.read_csv('Seattle-reviews.csv')

Making backup of all dataframes

In [3]:
backup_df_boston_calendar = df_boston_calendar.copy()
backup_df_boston_listings =  df_boston_listings.copy()
backup_df_boston_reviews = df_boston_reviews.copy()
backup_df_seattle_calendar = df_seattle_calendar.copy()
backup_df_seattle_listings = df_seattle_listings.copy()
backup_df_seattle_reviews = df_seattle_reviews.copy()

FIrst we will focus on dataframes ob Boston dataframes


Checkout sample lines of each dataframe

In [4]:
df_boston_calendar.sample(7)

         listing_id        date available    price
514904     10264774  2016-11-12         f      NaN
565549      5940866  2016-12-15         f      NaN
96118       7693009  2017-05-05         t   $49.00
161902      6744795  2016-12-24         t  $262.00
266640      7984226  2016-11-22         f      NaN
1072035     4447430  2017-08-06         t  $300.00
1252202    12620315  2017-08-19         f      NaN

In [5]:
df_boston_calendar.available.value_counts()

f    665853
t    643037
Name: available, dtype: int64

In [6]:
df_boston_listings.sample(7)

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,review_scores_value,requires_license,license,jurisdiction_names,instant_bookable,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
2267,228883,https://www.airbnb.com/rooms/228883,20160906204935,2016-09-07,[1330-2] Lux 2BR in The Fenway,NaN,The minute you step through the door to these ...,The minute you step through the door to these ...,none,NaN,...,9.0,f,NaN,NaN,f,super_strict_30,f,t,79,0.09
2423,6983246,https://www.airbnb.com/rooms/6983246,20160906204935,2016-09-07,"Cozy, Convenient Back Bay Home","A convenient, quite neighborhood location that...","Our comfortable, elegant house is waiting for ...","A convenient, quite neighborhood location that...",none,You are literally on the doorstep of the Berkl...,...,9.0,f,NaN,NaN,t,moderate,f,f,1,1.96
814,11907764,https://www.airbnb.com/rooms/11907764,20160906204935,2016-09-07,"Private Room, Free Parking!",Hello and welcome to our home! Featuring a ren...,NaN,Hello and welcome to our home! Featuring a ren...,none,"Very Quiet. Mostly family owned houses, very w...",...,9.0,f,NaN,NaN,f,moderate,f,f,2,8.29
2190,7914359,https://www.airbnb.com/rooms/7914359,20160906204935,2016-09-07,Spacious Downtown Two Bedroom,Located in the very center of Boston this apar...,NaN,Located in the very center of Boston this apar...,none,NaN,...,9.0,f,NaN,NaN,f,moderate,f,f,4,5.33
1960,7920759,https://www.airbnb.com/rooms/7920759,20160906204935,2016-09-07,"Beacon Hill- 2br, 2 bath Personal Home",This is our real home not rental or investment...,Well Equipped and appointed high end Condo. W...,This is our real home not rental or investment...,none,Beacon Hill Gas lit Historic district. Walk 1...,...,10.0,f,NaN,NaN,f,strict,f,f,1,1.73
334,6065674,https://www.airbnb.com/rooms/6065674,20160906204935,2016-09-07,Luxury Apt off Centre St & JP Pond,This perfectly situated 4 bedroom apartment & ...,This perfectly situated 4 bedroom apartment & ...,This perfectly situated 4 bedroom apartment & ...,none,"Multiple highly-rated restaurants nearby, such...",...,10.0,f,NaN,NaN,f,strict,f,f,2,0.75
751,12683680,https://www.airbnb.com/rooms/12683680,20160906204935,2016-09-07,Renovated North End Apartment,This newly renovated apartment in Bostons hist...,NaN,This newly renovated apartment in Bostons hist...,none,NaN,...,10.0,f,NaN,NaN,f,flexible,f,f,1,1.79

In [7]:
df_boston_listings.shape

(3585, 95)

In [8]:
df_boston_reviews.shape

(68275, 6)

In [9]:
df_boston_reviews.sample(7)

,listing_id,id,date,reviewer_id,reviewer_name,comments
35024,2135075,89505928,2016-07-28,10966236,Spencer,Shawn's place was exactly as listed. It was a ...
46903,7921649,79518384,2016-06-13,21170545,Noa,The room was very lovely.\r\nAs the process is...
39402,1885386,19208384,2014-09-08,3674805,Alexander,The room was very clean and cozy. We felt very...
55506,5734770,41389899,2015-08-07,36886177,Xiaoying,A wonderful place that close to everywhere ! T...
65090,8982616,69677828,2016-04-12,66583944,Annee,This was the first air b&b I have done and was...
56790,990668,54601543,2015-11-22,43217631,Lee,Gorgeous place; loved the light and art and pe...
57856,12088322,77989330,2016-06-04,65650783,Mayra,Foi Tudo maravilhoso! Amei o apartamento e o B...

In [10]:
df_seattle_listings.shape

(3818, 92)

In [11]:
df_boston_listings.shape

(3585, 95)

In [12]:
df_seattle_calendar.shape

(1393570, 4)

In [13]:
df_boston_calendar.shape

(1308890, 4)

In [14]:
df_seattle_reviews.shape

(84849, 6)

Exploring column differences between listing dataframes of Boston and Seattle.

In [15]:
bost_list_cols = set(df_boston_listings.columns.values)

In [16]:
seatt_list_cols = set(df_seattle_listings.columns.values)

In [17]:
len(bost_list_cols.intersection(seatt_list_cols))

92

In [18]:
len(bost_list_cols.union(seatt_list_cols))

95

In [19]:
len(bost_list_cols | seatt_list_cols)

95

In [20]:
len(set(df_boston_listings.columns.values).intersection(set(df_seattle_listings.columns.values)))

92

Columns which are presented in Boston but not in Seattle.

In [21]:
len(bost_list_cols - seatt_list_cols)

3

In [22]:
(bost_list_cols - seatt_list_cols)

{'access', 'house_rules', 'interaction'}

In [23]:
len(seatt_list_cols - bost_list_cols)

0

In [24]:
df_boston_listings.columns.values

array(['id', 'listing_url', 'scrape_id', 'last_scraped', 'name',
       'summary', 'space', 'description', 'experiences_offered',
       'neighborhood_overview', 'notes', 'transit', 'access',
       'interaction', 'house_rules', 'thumbnail_url', 'medium_url',
       'picture_url', 'xl_picture_url', 'host_id', 'host_url',
       'host_name', 'host_since', 'host_location', 'host_about',
       'host_response_time', 'host_response_rate', 'host_acceptance_rate',
       'host_is_superhost', 'host_thumbnail_url', 'host_picture_url',
       'host_neighbourhood', 'host_listings_count',
       'host_total_listings_count', 'host_verifications',
       'host_has_profile_pic', 'host_identity_verified', 'street',
       'neighbourhood', 'neighbourhood_cleansed',
       'neighbourhood_group_cleansed', 'city', 'state', 'zipcode',
       'market', 'smart_location', 'country_code', 'country', 'latitude',
       'longitude', 'is_location_exact', 'property_type', 'room_type',
       'accommodates', 'bathrooms', 'bedrooms', 'beds', 'bed_type',
       'amenities', 'square_feet', 'price', 'weekly_price',
       'monthly_price', 'security_deposit', 'cleaning_fee',
       'guests_included', 'extra_people', 'minimum_nights',
       'maximum_nights', 'calendar_updated', 'has_availability',
       'availability_30', 'availability_60', 'availability_90',
       'availability_365', 'calendar_last_scraped', 'number_of_reviews',
       'first_review', 'last_review', 'review_scores_rating',
       'review_scores_accuracy', 'review_scores_cleanliness',
       'review_scores_checkin', 'review_scores_communication',
       'review_scores_location', 'review_scores_value',
       'requires_license', 'license', 'jurisdiction_names',
       'instant_bookable', 'cancellation_policy',
       'require_guest_profile_picture',
       'require_guest_phone_verification',
       'calculated_host_listings_count', 'reviews_per_month'],
      dtype=object)

<li><a href="#TOC">Back To Table Of Contents</a></li>

### Assess

###### perform rudimentary data assessment

In [25]:
pd.set_option('display.max_rows', 500)

In [26]:
df_boston_listings.isna().sum()

id                                     0
listing_url                            0
scrape_id                              0
last_scraped                           0
name                                   0
summary                              143
space                               1057
description                            0
experiences_offered                    0
neighborhood_overview               1415
notes                               1975
transit                             1290
access                              1489
interaction                         1554
house_rules                         1192
thumbnail_url                        599
medium_url                           599
picture_url                            0
xl_picture_url                       599
host_id                                0
host_url                               0
host_name                              0
host_since                             0
host_location                         11
host_about                          1309
host_response_time                   471
host_response_rate                   471
host_acceptance_rate                 471
host_is_superhost                      0
host_thumbnail_url                     0
host_picture_url                       0
host_neighbourhood                   339
host_listings_count                    0
host_total_listings_count              0
host_verifications                     0
host_has_profile_pic                   0
host_identity_verified                 0
street                                 0
neighbourhood                        543
neighbourhood_cleansed                 0
neighbourhood_group_cleansed        3585
city                                   2
state                                  0
zipcode                               38
market                                14
smart_location                         0
country_code                           0
country                                0
latitude                               0
longitude                              0
is_location_exact                      0
property_type                          3
room_type                              0
accommodates                           0
bathrooms                             14
bedrooms                              10
beds                                   9
bed_type                               0
amenities                              0
square_feet                         3529
price                                  0
weekly_price                        2693
monthly_price                       2697
security_deposit                    2243
cleaning_fee                        1107
guests_included                        0
extra_people                           0
minimum_nights                         0
maximum_nights                         0
calendar_updated                       0
has_availability                    3585
availability_30                        0
availability_60                        0
availability_90                        0
availability_365                       0
calendar_last_scraped                  0
number_of_reviews                      0
first_review                         756
last_review                          756
review_scores_rating                 813
review_scores_accuracy               823
review_scores_cleanliness            818
review_scores_checkin                820
review_scores_communication          818
review_scores_location               822
review_scores_value                  821
requires_license                       0
license                             3585
jurisdiction_names                  3585
instant_bookable                       0
cancellation_policy                    0
require_guest_profile_picture          0
require_guest_phone_verification       0
calculated_host_listings_count         0
reviews_per_month                    756
dtype: int64

In [27]:
df_boston_calendar.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1308890 entries, 0 to 1308889
Data columns (total 4 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   listing_id  1308890 non-null  int64
 1   date        1308890 non-null  object
 2   available   1308890 non-null  object
 3   price       643037 non-null   object
dtypes: int64(1), object(3)
memory usage: 39.9+ MB

In [28]:
df_boston_calendar.describe()

         listing_id
count  1.308890e+06
mean   8.442118e+06
std    4.500149e+06
min    3.353000e+03
25%    4.679319e+06
50%    8.578710e+06
75%    1.279603e+07
max    1.493346e+07

In [29]:
df_boston_calendar.corr()

            listing_id
listing_id         1.0

In [30]:
len(df_boston_calendar[(df_boston_calendar.listing_id==994138)])

365

In [31]:
len(df_boston_calendar[(df_boston_calendar.listing_id==994138) & (df_boston_calendar.available=='t')])

293

In [32]:
len(df_boston_calendar[df_boston_calendar.listing_id==197146])

365

In [33]:
len(df_boston_calendar[(df_boston_calendar.listing_id==197146) & (df_boston_calendar.available=='t')])

350

In [34]:
df_boston_reviews.sample(7)

,listing_id,id,date,reviewer_id,reviewer_name,comments
25096,4934600,71703995,2016-04-27,48016006,Antonio,This was possibly my favorite place to stay. ...
46902,7921649,79097290,2016-06-11,5491022,Tiffany & Bill,Todd's place was just as described. Very relax...
56674,6323935,51022374,2015-10-17,7184472,Volodymyr,I loved to stay in Dave's apartment: very conv...
36650,1615033,7294575,2013-09-14,4727386,Rasmus,Nice place to stay and a very responsive host....
7730,225224,22289286,2014-11-03,9775984,Nicole,For future guests -- important things I would ...
59404,7692933,74070383,2016-05-12,2777579,Patricia,Kind and caring host. Rooms charming. Exactl...
11222,12560987,79407356,2016-06-12,18894694,Keith,Decent place clean and comfortable. Very close...

Exploring listings data frame to understand rating of individual listing

In [35]:
df_boston_listings.columns[df_boston_listings.columns.str.contains('ating')]

Index(['review_scores_rating'], dtype='object')

In [36]:
df_boston_listings.columns[df_boston_listings.columns.str.contains('eview')]

Index(['number_of_reviews', 'first_review', 'last_review',
       'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'reviews_per_month'],
      dtype='object')

In [37]:
df_boston_listings.columns[df_boston_listings.columns.str.contains('core')]

Index(['review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value'],
      dtype='object')

In [38]:
df_boston_listings.columns[df_boston_listings.columns.str.contains('vailab')]

Index(['has_availability', 'availability_30', 'availability_60',
       'availability_90', 'availability_365'],
      dtype='object')

In [39]:
df_boston_listings[['review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value']].sample(5)

,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value
138,95.0,10.0,9.0,10.0,10.0,10.0,10.0
2262,NaN,NaN,NaN,NaN,NaN,NaN,NaN
224,98.0,10.0,10.0,10.0,10.0,9.0,10.0
1580,99.0,10.0,10.0,10.0,10.0,10.0,10.0
2795,87.0,9.0,9.0,9.0,9.0,8.0,9.0

In [40]:
df_boston_listings[['id','has_availability', 'availability_30', 'availability_60',
       'availability_90', 'availability_365']]

,id,has_availability,availability_30,availability_60,availability_90,availability_365
0,12147973,NaN,0,0,0,0
1,3075044,NaN,26,54,84,359
2,6976,NaN,19,46,61,319
3,1436513,NaN,6,16,26,98
4,7651065,NaN,13,34,59,334
...,...,...,...,...,...,...
3580,8373729,NaN,21,51,81,356
3581,14844274,NaN,29,59,89,364
3582,14585486,NaN,0,15,40,40
3583,14603878,NaN,5,5,5,253
3584,14504422,NaN,17,45,75,165

###### List of issues you identiefied using rudimentry assessment

- Issue 1
- Issue 2
- Issue 3
- Issue 4

Finding relevant column for reviews for listing

In [41]:
df_name.column_name.value_counts()

NameError: name 'df_name' is not defined

In [42]:
df_boston_listings.columns.values[df_boston_listings.columns.str.contains('ating')]

array(['review_scores_rating'], dtype=object)

In [43]:
df_boston_listings[['id', 'review_scores_rating', 'review_scores_value']].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3585 entries, 0 to 3584
Data columns (total 3 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    3585 non-null   int64
 1   review_scores_rating  2772 non-null   float64
 2   review_scores_value   2764 non-null   float64
dtypes: float64(2), int64(1)
memory usage: 84.1 KB

In [44]:
df_boston_listings[['id', 'review_scores_rating', 'review_scores_value']].describe()

                 id  review_scores_rating  review_scores_value
count  3.585000e+03           2772.000000          2764.000000
mean   8.440875e+06             91.916667             9.168234
std    4.500787e+06              9.531686             1.011116
min    3.353000e+03             20.000000             2.000000
25%    4.679319e+06             89.000000             9.000000
50%    8.577620e+06             94.000000             9.000000
75%    1.278953e+07             98.250000            10.000000
max    1.493346e+07            100.000000            10.000000

Plot scatterplot of the dataframes so as to identify correlations amongst several variables. Through this we will start to get sense of which features could be of use to us for further analysis.

In [45]:
pd.plotting.scatter_matrix(df_name)

NameError: name 'df_name' is not defined

###### List of issues you identiefied using visual assessment

- Issue 1
- Issue 2
- Issue 3
- Issue 4

nan value detection

Following code fragments can be run to identify presence of NaN Null in dataframe

In [ ]:
df_name.isnull()

Following command will tell us columns that have atleast 1 NaN value in them

In [ ]:
df_name.isnull().any(axis=0)

Following command will tell us rows that have atleast 1 NaN value in them

In [ ]:
df_name.isnull().any(axis=1)

checking duplicate value/s

In [ ]:
sum(df_name.duplicated())

checking and making note of incorrect datatype/s. Prime examples to look for are date column in string datatype, unit mentioned in numeric value column.

In [ ]:
df_name.info()

###### List of issues you identiefied using programmatic assessment

- Issue 1
- Issue 2
- Issue 3
- Issue 4

<li><a href="#TOC">Back To Table Of Contents</a></li>

<a id='data_preparation'></a>
## Data Preparation

##### Question 1 = Listings from which zipcodes are leaders in always being booked? (like give me top 3)

Need to find top 3 zipcodes who have highest book rate. Relevant dataframes are df_boston_listings, df_boston_calendar

In [46]:
df_boston_calendar.columns

Index(['listing_id', 'date', 'available', 'price'], dtype='object')

In [47]:
df_boston_calendar.shape

(1308890, 4)

In [48]:
df_boston_calendar.listing_id.nunique()

3585

In [49]:
df_boston_listings.id.nunique()

3585

In [50]:
df_boston_calendar.columns

Index(['listing_id', 'date', 'available', 'price'], dtype='object')

In [51]:
df_boston_calendar.sample(7)

         listing_id        date available    price
208838     10611728  2017-07-03         f      NaN
916227     12811191  2017-04-21         t   $70.00
1027717    14056340  2016-10-22         t   $60.00
209398     11169560  2016-10-30         f      NaN
1304843    14504583  2016-10-07         t   $65.00
1256588     9593141  2016-11-28         f      NaN
523065      6685682  2017-08-16         t  $450.00

We need to create a new dataframe which will contain all unique zip codes and combined percentage of all of listings belonging to that zipcode.
Relevant columns from each dataframe are:

df_boston_listings
<br>1) id
<br>2) zipcode
<br><br>df_boston_calendar
<br>1) listing_id
<br>2) date
<br>3) available

In [52]:
df_boston_listings[['id', 'zipcode']].sample(5)

            id zipcode
2189  12815192   02108
3439   8758450   02134
1079   4364989   02118
459    9824155   02130
658   13107648   02109

Checking for nulls and datatypes

In [53]:
df_boston_listings[['id', 'zipcode']].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3585 entries, 0 to 3584
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   id       3585 non-null   int64
 1   zipcode  3547 non-null   object
dtypes: int64(1), object(1)
memory usage: 56.1+ KB

In [54]:
df_boston_calendar.sample(5)

        listing_id        date available    price
948243    14834257  2016-10-02         f      NaN
264357     1094599  2017-05-20         t  $239.00
235641    13744821  2016-12-22         f      NaN
460935    10882267  2016-11-04         f      NaN
342366    13995573  2016-09-09         f      NaN

In [55]:
df_boston_calendar.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1308890 entries, 0 to 1308889
Data columns (total 4 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   listing_id  1308890 non-null  int64
 1   date        1308890 non-null  object
 2   available   1308890 non-null  object
 3   price       643037 non-null   object
dtypes: int64(1), object(3)
memory usage: 39.9+ MB

In [56]:
df_boston_calendar.available.value_counts()

f    665853
t    643037
Name: available, dtype: int64

In df_boston_calendar datattypes should be changed; date from object to datetime, available from object to Bool.

In [57]:
df_boston_calendar['date'] = pd.to_datetime(df_boston_calendar['date'])

In [58]:
df_boston_calendar.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1308890 entries, 0 to 1308889
Data columns (total 4 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   listing_id  1308890 non-null  int64
 1   date        1308890 non-null  datetime64[ns]
 2   available   1308890 non-null  object
 3   price       643037 non-null   object
dtypes: datetime64[ns](1), int64(1), object(2)
memory usage: 39.9+ MB

In [59]:
df_boston_calendar.available.head(5)

0    f
1    f
2    f
3    f
4    f
Name: available, dtype: object

In [60]:
df_boston_calendar['available']=(df_boston_calendar.available=='t')

In [61]:
df_boston_calendar.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1308890 entries, 0 to 1308889
Data columns (total 4 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   listing_id  1308890 non-null  int64
 1   date        1308890 non-null  datetime64[ns]
 2   available   1308890 non-null  bool
 3   price       643037 non-null   object
dtypes: bool(1), datetime64[ns](1), int64(1), object(1)
memory usage: 31.2+ MB

Create new dataframe to store data for this and possible other questions related to zipcode details

In [62]:
df_zipcode_details = pd.DataFrame()

Creating first column of the dataframe using unique zipcodes fromm df_boston_listings

In [63]:
df_boston_listings.zipcode.nunique()

43

In [64]:
df_boston_listings.zipcode.unique()

array(['02131', nan, '02130', '02119', '02120', '02115', '02215', '02116',
       '02111', '02109', '02113', '02110', '02114', '02108', '02121',
       '02118', '02125', '02124', '02210', '02218', '02142', '02128',
       '02129', '02145', '02126', '02108 02111', '02472', '02122',
       '02446', '02135', '02134', '02445', '02132', '02467', '02136',
       '02186', '02169', '02127', '02134-1704', '02163', '02138', '02139',
       '02141', '02143'], dtype=object)

In [65]:
df_zipcode_details['zipcode'] = df_boston_listings.zipcode.unique()

In [66]:
df_zipcode_details.shape

(44, 1)

In [67]:
df_zipcode_details.zipcode.dropna()

0           02131
2           02130
3           02119
4           02120
5           02115
6           02215
7           02116
8           02111
9           02109
10          02113
11          02110
12          02114
13          02108
14          02121
15          02118
16          02125
17          02124
18          02210
19          02218
20          02142
21          02128
22          02129
23          02145
24          02126
25    02108 02111
26          02472
27          02122
28          02446
29          02135
30          02134
31          02445
32          02132
33          02467
34          02136
35          02186
36          02169
37          02127
38     02134-1704
39          02163
40          02138
41          02139
42          02141
43          02143
Name: zipcode, dtype: object

In [68]:
df_zipcode_details.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44 entries, 0 to 43
Data columns (total 1 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   zipcode  43 non-null     object
dtypes: object(1)
memory usage: 480.0+ bytes

Finding booked percentage for each zipcode.

I think this can be achieved in 2 steps; step 1 is to get percentage for all listings from df_boston_calendar (call mean() on it) then average percentages of all listings belonging to certain zipcode.

In [69]:
df_boston_calendar.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1308890 entries, 0 to 1308889
Data columns (total 4 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   listing_id  1308890 non-null  int64
 1   date        1308890 non-null  datetime64[ns]
 2   available   1308890 non-null  bool
 3   price       643037 non-null   object
dtypes: bool(1), datetime64[ns](1), int64(1), object(1)
memory usage: 31.2+ MB

In [70]:
temp_df = pd.DataFrame()

In [71]:
temp_df['booking_percentage'] = df_boston_calendar.groupby(['listing_id'])['available'].mean()

In [72]:
temp_df.shape

(3585, 1)

In [73]:
len(temp_df.index)

3585

In [74]:
temp_df['listing_id']=temp_df.index

In [75]:
temp_df.shape

(3585, 2)

Now we need to add column of zipcode corresponding to each listing

In [76]:
temp_df.sample(3)

            booking_percentage  listing_id
listing_id
10656899              0.000000    10656899
901914                0.000000      901914
6990023               0.835616     6990023

In [77]:
temp_df.reset_index(drop=True, inplace=True)

In [78]:
temp_df = temp_df.merge (df_boston_listings[['id','zipcode']], left_on='listing_id', right_on='id')

In [79]:
temp_df.sample(7)

      booking_percentage  listing_id        id zipcode
2178            0.490411    10119327  10119327   02114
3230            0.005479    14217967  14217967   02116
2076            0.424658     9857049   9857049   02108
2936            0.975342    13449737  13449737   02116
2484            0.490411    11981674  11981674   02116
222             0.000000      947751    947751   02109
1375            0.000000     7054912   7054912   02114

In [80]:
temp_df.shape

(3585, 4)

Confirming that number of zipcodes in temp_df and df_boston_listings is the same.

In [81]:
temp_df.zipcode.nunique(), df_boston_listings.zipcode.nunique(), temp_df.listing_id.nunique()

(43, 43, 3585)

Taking groupby of temp_df across zipcode and taking mean on colulmn booking percentage will give us booking percentage across each zipcode

In [82]:
temp_df_2 = temp_df.groupby(['zipcode'])['booking_percentage'].mean()

In [83]:
type(df_zipcode_details)

pandas.core.frame.DataFrame

In [84]:
df_zipcode_details.sample(7)

   zipcode
18   02210
31   02445
20   02142
40   02138
35   02186
5    02115
1      NaN

In [85]:
temp_df_2.sample(3)

zipcode
02113    0.441123
02210    0.455525
02139    0.548858
Name: booking_percentage, dtype: float64

In [86]:
df_zipcode_details = temp_df_2.to_frame().reset_index()

In [87]:
df_zipcode_details.sample(7)

   zipcode  booking_percentage
9    02118            0.439210
21   02131            0.669758
3    02110            0.551949
41   02467            0.578082
28   02139            0.548858
27   02138            0.491781
8    02116            0.540602

##### Question 2 = Listings from which zipcodes are leaders in having high reviews in user ratings? (like give me top 3)

For this question building up from the last question, we will crete average review for each zipcode and attach it as a new column to df_zipcode_details

For this question the column of zipcode and review_scores_value is of interest to us. They both exist in df_boston_listings.

Therefore we can simply take a groupby on zipcode column and take mean of the review_scores_value column

In [88]:
df_boston_listings.groupby(['zipcode'])['review_scores_value'].mean()

zipcode
02108           9.166667
02108 02111     9.000000
02109           9.085714
02110           9.363636
02111           9.156250
02113           9.421687
02114           9.198864
02115           9.090164
02116           9.115789
02118           9.286385
02119           9.093023
02120           8.600000
02121           9.238095
02122           9.189189
02124           9.014925
02125           8.954545
02126           9.055556
02127           9.389937
02128           9.044776
02129           9.522388
02130           9.414894
02131           9.559322
02132           9.555556
02134           9.011696
02134-1704      8.000000
02135           9.181102
02136           9.217391
02138          10.000000
02139           9.000000
02141           7.500000
02142           9.000000
02143           7.333333
02145           8.600000
02163          10.000000
02169                NaN
02186           9.000000
02210           9.180000
02215           8.756944
02218                NaN
02445           9.500000
02446          10.000000
02467           9.000000
02472                NaN
Name: review_scores_value, dtype: float64

In [89]:
temp_df = df_boston_listings.groupby(['zipcode'])['review_scores_value'].mean()

In [90]:
type(temp_df)

pandas.core.series.Series

In [91]:
 temp_df_2 = temp_df.to_frame().reset_index()

In [92]:
temp_df_2.sample(3)

   zipcode  review_scores_value
22   02132             9.555556
20   02130             9.414894
40   02446            10.000000

Now all we have to do is merge this dataframe with df_zipcode_details

In [93]:
temp_df_3 = df_zipcode_details.merge(temp_df_2, on='zipcode')

In [94]:
df_zipcode_details.shape

(43, 2)

In [95]:
temp_df_3.shape

(43, 3)

In [96]:
df_zipcode_details = df_zipcode_details.merge(temp_df_2, on='zipcode')

In [97]:
df_zipcode_details.shape

(43, 3)

In [98]:
df_zipcode_details.sample(5)

        zipcode  booking_percentage  review_scores_value
29        02141            0.371689             7.500000
1   02108 02111            0.646575             9.000000
4         02111            0.469600             9.156250
5         02113            0.441123             9.421687
10        02119            0.612877             9.093023

##### Question 3 = Listings from which neighbourhood are leaders in always being booked? (like give me top 3)

For this question columns of interst are neighbourhood from df_boston_listings and available from df_boston_calendar

Create new dataframe to store data for this and possible other questions related to neighbourhood details

In [99]:
df_neighbourhood_details = pd.DataFrame()

In [100]:
df_neighbourhood_details['neighbourhood'] = df_boston_listings.neighbourhood.unique()

In [101]:
df_neighbourhood_details.shape

(31, 1)

In [102]:
temp_df = pd.DataFrame()

In [103]:
temp_df['booking_percentage'] = df_boston_calendar.groupby(['listing_id'])['available'].mean()

In [104]:
temp_df.shape

(3585, 1)

In [105]:
temp_df.sample(3)

            booking_percentage
listing_id
7358714               0.071233
9212213               0.679452
9971054               0.487671

In [106]:
temp_df['listing_id'] = temp_df.index

In [107]:
temp_df.reset_index(drop=True, inplace=True)

In [108]:
temp_df.sample(3)

      booking_percentage  listing_id
2009            0.572603     9577988
749             0.789041     4119345
1367            0.073973     7033732

Adding a column of neighbourhood and taking average of booking percentage is the next step

In [116]:
temp_df_2 = temp_df.merge(df_boston_listings[['neighbourhood', 'id']], left_on='listing_id', right_on='id')

In [117]:
temp_df_2.sample(3)

      booking_percentage  listing_id neighbourhood        id
2764            0.835616    13007124     North End  13007124
2748            0.753425    12979965     South End  12979965
2153            0.098630    10056496   East Boston  10056496

In [119]:
temp_df_3 = temp_df_2.groupby(['neighbourhood'])['booking_percentage'].mean()

In [120]:
temp_df_3.shape

(30,)

In [121]:
type(temp_df_3)

pandas.core.series.Series

In [122]:
temp_df_3.sample(3)

neighbourhood
Somerville    0.661117
Downtown      0.561986
Chinatown     0.519881
Name: booking_percentage, dtype: float64

In [123]:
df_neighbourhood_details = temp_df_3.to_frame().reset_index()

In [124]:
df_neighbourhood_details.shape

(30, 2)

In [125]:
df_neighbourhood_details.sample(3)

   neighbourhood  booking_percentage
20  Mission Hill            0.348052
29  West Roxbury            0.558434
24    Somerville            0.661117

##### Question 4 = Listings from which neighbourhood are leaders in having high reviews in user ratings? (like give me top 3)

Picking up resultant dataframe from earlier question; df_neighbourhood_details for this question we add another column giving average review for each neighbourhood.

Taking groupby of df_boston_listings across neighbourhood and taking mean on colulmn review_scores_value will give us the third column

In [126]:
temp_df = df_boston_listings.groupby(['neighbourhood'])['review_scores_value'].mean()

In [127]:
temp_df.shape

(30,)

In [128]:
temp_df.sample(3)

neighbourhood
Jamaica Plain        9.460967
Roxbury              8.978947
Government Center    9.333333
Name: review_scores_value, dtype: float64

In [129]:
type(df_zipcode_details)

pandas.core.frame.DataFrame

In [130]:
temp_df_2 = temp_df.to_frame().reset_index()

In [131]:
temp_df_2.sample(3)

     neighbourhood  review_scores_value
28        West End             8.891892
20    Mission Hill             8.626866
12  Fenway/Kenmore             8.813665

To add this column; review_scores_value to dataframe df_neighbourhood_details we will take a merge

In [132]:
temp_df_3 = temp_df_2.merge(df_neighbourhood_details, on='neighbourhood')

In [133]:
temp_df_3.shape

(30, 3)

In [134]:
temp_df_3.sample(5)

        neighbourhood  review_scores_value  booking_percentage
29       West Roxbury             9.629630            0.558434
3           Brookline             9.500000            0.326712
21          North End             9.327103            0.455430
28           West End             8.891892            0.648187
10  Downtown Crossing             9.047619            0.349210

##### Question 5 = Predicting price of the listing space using subset of features. Trying to understand which are most impactful features out of selected ones .

X:
1. host_since
2. host_listings_count
3. room_type
4. bathrooms
5. bedrooms
6. beds
7. square_feet
8. neighbourhood
9. zipcode
10. minimum_nights
11. maximum_nights

y:
1. price

Checking how many listings have different values in host_listings_count and host_total_listings_count

In [166]:
df_boston_listings[df_boston_listings.host_listings_count != df_boston_listings.host_total_listings_count]

Empty DataFrame
Columns: [id, listing_url, scrape_id, last_scraped, name, summary, space, description, experiences_offered, neighborhood_overview, notes, transit, access, interaction, house_rules, thumbnail_url, medium_url, picture_url, xl_picture_url, host_id, host_url, host_name, host_since, host_location, host_about, host_response_time, host_response_rate, host_acceptance_rate, host_is_superhost, host_thumbnail_url, host_picture_url, host_neighbourhood, host_listings_count, host_total_listings_count, host_verifications, host_has_profile_pic, host_identity_verified, street, neighbourhood, neighbourhood_cleansed, neighbourhood_group_cleansed, city, state, zipcode, market, smart_location, country_code, country, latitude, longitude, is_location_exact, property_type, room_type, accommodates, bathrooms, bedrooms, beds, bed_type, amenities, square_feet, price, weekly_price, monthly_price, security_deposit, cleaning_fee, guests_included, extra_people, minimum_nights, maximum_nights, calendar_updated, has_availability, availability_30, availability_60, availability_90, availability_365, calendar_last_scraped, number_of_reviews, first_review, last_review, review_scores_rating, review_scores_accuracy, review_scores_cleanliness, review_scores_checkin, review_scores_communication, review_scores_location, review_scores_value, requires_license, license, jurisdiction_names, instant_bookable, cancellation_policy, require_guest_profile_picture, require_guest_phone_verification, calculated_host_listings_count, reviews_per_month]
Index: []

[0 rows x 95 columns]

In [156]:
df_boston_listings.columns[df_boston_listings.columns.str.contains('url')]

Index(['listing_url', 'thumbnail_url', 'medium_url', 'picture_url',
       'xl_picture_url', 'host_url', 'host_thumbnail_url', 'host_picture_url'],
      dtype='object')

In [161]:
df_boston_listings[['picture_url','xl_picture_url','medium_url','host_url','host_picture_url']].isna().sum(),

(picture_url           0
 xl_picture_url      599
 medium_url          599
 host_url              0
 host_picture_url      0
 dtype: int64,)

In [162]:
df_boston_listings.shape

(3585, 95)

In [153]:
df_boston_listings[['id', 'neighbourhood','summary','price','weekly_price','monthly_price']].sample(7)

,id,neighbourhood,summary,price,weekly_price,monthly_price
1949,3873776,NaN,A large 3 bedroom Apartment right in the heart...,$325.00,NaN,"$7,000.00"
2964,14040282,Dorchester,Our family's home has a room located in Dorche...,$96.00,NaN,NaN
1997,7342359,Beacon Hill,"1 bed/1 bath w/ office, living room, kitchen, ...",$250.00,NaN,NaN
1703,3749523,Charlestown,"Along Boston's famous ""Freedom Trail"", the stu...",$500.00,"$2,800.00",NaN
3493,13684251,Allston-Brighton,"Capturing the spirit of New England, this red ...",$139.00,NaN,NaN
1366,1372816,Back Bay,NaN,$209.00,NaN,"$4,200.00"
2012,10945774,Beacon Hill,"The apartment includes a fully equipped, eat-i...",$129.00,NaN,NaN

##### Question 6 = what are factors that are important causing a listing to get high rating in column review_scores_value?

X:
1. host_since
2. host_response_time
3. host_response_rate
4. host_acceptance_rate
5. host_is_superhost
6. host_identity_verified
7. neighbourhood
8. zipcode
9. price
10. security_deposit
11. cleaning_fee


y:
1. review_scores_value

In [175]:
df_boston_listings.security_deposit.unique()

array([nan, '$95.00', '$100.00', '$200.00', '$500.00', '$150.00',
       '$250.00', '$446.00', '$223.00', '$300.00', '$400.00', '$800.00',
       '$298.00', '$450.00', '$650.00', '$2,000.00', '$240.00',
       '$1,000.00', '$350.00', '$1,500.00', '$4,500.00', '$600.00',
       '$301.00', '$2,500.00', '$99.00', '$275.00', '$375.00', '$199.00',
       '$1,200.00', '$180.00', '$220.00', '$160.00', '$299.00', '$750.00',
       '$325.00', '$1,250.00', '$125.00', '$900.00', '$475.00',
       '$4,000.00', '$185.00', '$3,000.00', '$330.00', '$147.00',
       '$425.00', '$399.00', '$120.00', '$307.00', '$1,900.00', '$950.00',
       '$175.00', '$179.00', '$128.00', '$700.00', '$118.00'],
      dtype=object)

In [176]:
df_boston_listings.cleaning_fee.unique()

array(['$35.00', '$10.00', nan, '$50.00', '$15.00', '$30.00', '$40.00',
       '$150.00', '$20.00', '$100.00', '$85.00', '$25.00', '$56.00',
       '$45.00', '$125.00', '$80.00', '$5.00', '$120.00', '$18.00',
       '$90.00', '$200.00', '$140.00', '$95.00', '$60.00', '$75.00',
       '$7.00', '$64.00', '$12.00', '$135.00', '$250.00', '$70.00',
       '$9.00', '$8.00', '$55.00', '$175.00', '$65.00', '$69.00',
       '$130.00', '$6.00', '$84.00', '$13.00', '$29.00', '$160.00',
       '$49.00', '$119.00', '$197.00', '$155.00', '$158.00', '$166.00',
       '$199.00', '$99.00', '$225.00', '$39.00', '$54.00', '$24.00',
       '$110.00', '$136.00', '$115.00', '$83.00', '$42.00', '$139.00',
       '$79.00', '$37.00', '$28.00', '$82.00', '$19.00', '$57.00',
       '$72.00', '$58.00', '$66.00', '$180.00', '$300.00', '$14.00',
       '$129.00', '$105.00', '$149.00', '$52.00', '$34.00', '$59.00',
       '$230.00'], dtype=object)

In [171]:
df_boston_listings.neighbourhood.nunique()

30

In [172]:
df_boston_listings.shape

(3585, 95)

##### Question 4 = what are factors that cause a listing to be booked a lot?

##### Clean the data, drop not useful data, replace missing values, do feature engineering.

In [ ]:
# After discussing the structure of the data and any problems that need to be
#   cleaned, perform those cleaning steps in the second part of this section.

<li><a href="#TOC">Back To Table Of Contents</a></li>

<a id='modeling'></a>
## Modeling

> **Tip**: Here starts modeling of the data, depending on the targeted business goals and insights modeling technique/s is chosen and relevant model is trained and predictions are made. Performance of the model is also evaluated in this step using several inbuilt functions.
<br><br>All proposed questions might not need data mining techniques, in such cases descriptive and inferential statistics is used to get the needed answers.

##### Question 1 = Is there a connection between incomplete listing profile in df_boston_listings, df_seattle_listings and number of reviews that particular listing has? column name is number_of_reviews

##### Question 2 = Do listings from certain zipcodes get better user ratings?

##### Question 3 = what are factors that are important causing a listing to get high rating in column review_scores_value?

##### Question 4 = what are factors that cause a listing to be booked a lot?

##### Question 5 = Listings from which zipcodes are leaders in always being booked?

##### Question 6 = Listings from which zipcodes are leaders in having high reviews in user ratings?

##### Question 7 = Listings from which neighbourhood are leaders in always being booked? (like give me top 3)

##### Question 8 = Listings from which neighbourhood are leaders in having high reviews in user ratings? (like give me top 3)

### Research Question 1 (Replace this header name!)

In [ ]:
# Use this, and more code cells, to explore your data. Don't forget to add
#   Markdown cells to document your observations and findings.

### Research Question 2  (Replace this header name!)

In [ ]:
# Continue to explore the data to address your additional research
#   questions. Add more headers as needed if you have more questions to
#   investigate.

<li><a href="#TOC">Back To Table Of Contents</a></li>

<a id='results_evaluation'></a>
## Results Evaluation

> **Tip**: Evaluation in this step is with regards to the business value this analysis, modeling provides. Therefore the analysis will be from the point of view of the stakeholder.
<br>This section should make sense to non technical as well as technical audience.

<li><a href="#TOC">Back To Table Of Contents</a></li>

<a id='deploy_solution'></a>
## Deployment

> **Tip**: In this stage deployment plan is made and along with that monitoring and maintenace plan is drafted out as well.

<li><a href="#TOC">Back To Table Of Contents</a></li>

<a id='conclusions'></a>
## Conclusions

> **Tip**: Finally, summarize your findings and the results that have been performed. Make sure that you are clear with regards to the limitations of your exploration. If you haven't done any statistical tests, do not imply any statistical conclusions. And make sure you avoid implying causation from correlation!

> **Tip**: Once you are satisfied with your work here, check over your report to make sure that it is satisfies all the areas of the rubric (found on the project submission page at the end of the lesson). You should also probably remove all of the "Tips" like this one so that the presentation is as polished as possible.

<li><a href="#TOC">Back To Table Of Contents</a></li>